* {
	box-sizing: border-box;
}

@font-face {
	font-family: Spartan;
	src: url("./Montserrat-ExtraLight.ttf") format('truetype');
    	font-weight: bold;
    	font-style: normal;
}

body, html {
	height: 100%;
	font-family: Spartan, serif;
	background-color: #ccc;
}

.bdy {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #198cff;
}

#headline {
	font-size: 72px;
}

#element-view {
	font-size: 40px;
}


hr {
	width: 50%;
	text-align: center;
}

.countdown {
	font-size: 60px;
  	margin: 10px;
}
