* {
	box-sizing: border-box;
}

@font-face {
	font-family: Spartan;
	src: url("./Spartan-Regular.ttf") format('truetype');
    	font-weight: bold;
    	font-style: normal;
}

body, html {
	height: 100%;
	font-family: Spartan;
	background-color: #ffffff;
	
	margin: 0;
}

#headline {
	margin: auto;
	width: 50%;
	
	color: #198cff;
	font-size: 72px;

  text-align: center;
}

#element-view {
	margin: auto;
	width: 75%;
	
	color: #198cff;
	font-size: 40px;

  text-align: center;
}

#selector {
	margin: auto;
	width: 50%;
	
	color: #198cff;
	font-size: 40px;

  text-align: center;
}


hr {
	width: 50%;
	text-align: center;
	background-color: #198cff;
}


button {
	padding: 30px 60px;
	margin: 20px;
	
	font-size: 24px;
	
	border-radius: 8px;
	background-color: white;
	color: black;
	border: 2px solid #198cff;
}

button:hover {
	cursor: pointer;
}


div.countdown {
	color: #198cff;
	font-size: 60px;

  margin: 10px;
}
